# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.SlotMachine.iml
# Datasource local storage ignored files
/../../../../../../../:\Programming\unity\SlotMachine\.idea\.idea.SlotMachine\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
