################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Library
/obj/Debug
/Logs
/Temp
/Packages
/.vs/SlotMachine/v16
*.csproj
/SlotMachine.sln
